body {
    padding: 0;
    margin: 0;
  }
  /* Donation form styles */
  body {
    padding: 0;
    margin: 0;
    background: #f7f7f7; /* Assuming the background is a light grey */
    font-family: Arial, sans-serif; /* Or any font you prefer */
  }
  
  /* Donation form container styles to center the form like a box */
  .donation-container {
    max-width: 480px; /* Or any max-width you prefer */
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto; /* This centers the box in the middle of the page */
  }
  
  /* Donation form styles */
  .donation-form {
    /* Add any additional form styles here */
  }
  
  .donation-input label {
    display: block;
    color: #333;
    margin-bottom: .5rem;
  }
  
  .donation-input input,
  .donation-input select {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
  }
  
  /* Styles for the Stripe CardElement */
  .FormGroup {
    border: 1px solid #c4f0ff;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
  }
  
  .FormRow {
    /* Add CardElement styles here, if necessary */
  }
  
  /* Button styles */
  .donate-button {
    width: 100%; /* Full width of the container */
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #22aeff;
    color: white;
    font-size: 16px;
  }
  
  .thank-you-message {
    text-align: center;
    margin-top: 2rem;
    /* Additional styles if needed */
  }
  

