body {
    padding: 0;
    margin: 0;
  }
  /* Donation form styles */
  
  /* Donation form container styles to center the form like a box */
  .donation-container {
    max-width: 500px; 
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto; 
  }
  
  
  .donation-input label {
    display: block;
    color: #333;
    margin-bottom: .5rem;
  }
  
  .donation-input input,
  .donation-input select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
  }
  
  /* Styles for the Stripe CardElement */
  .FormGroup {
    border: 1px solid #ffc4d6;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
  }
    
  /* Button styles */
  .donate-button {
    width: 100%; 
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #22aeff;
    color: white;
    font-size: 16px;
  }
  
  .thank-you-message {
    text-align: center;
    margin-top: 2rem;
  }
  
  .width-500, .width1 {
    width: 500px;
  }
  
  .width-330, .width2 {
    width: 330px;
  }
  
  .width-150, .width3 {
    width: 150px;
  }
  
  .width-30, .width4 {
    width: 30px;
  }
  
  .left-80, .fixed {
    left: 80px;
  }
  
  .left-500, .distleft {
    left: 500px;
  }
  
  .left-200, .reldistleft {
    left: 200px;
  }
  
  .left--210, .reldistright {
    left: -210px;
  }
  
  .left-9, .moveRight {
    left: 9px;
  }
  
  .height-30, button {
    height: 30px;
  }
  
  .height-25, .iconsize1 {
    height: 25px;
  }
  
  /* flex box for arranging the items in row manner evenly spaced */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: space-evenly;
  }
  
  /* adding padding to the form item along with background color and width */
  .inp-frm {
    padding: 10px;
    background-color: whitesmoke;
    /* display: flex; */
    width: 720px;
  }
  
  /* for adding the items in Honeymoon Special section in the flex box format for aligning from start with gap  */
  .flex-containerHoneymoonSpecial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: start;
    gap: 110px;
  }
  
  /* for adding the items in Fast&Easy section in the flex box format for aligning from start  */
  .flex-containerFastEasy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: start;
  }
  
  /* for adding the items in Explore section in the flex box format without gap and justifying content  */
  .flex-containerExplore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
  }
  
  /* for adding the items in Explore section in the flex box format with gap and padding*/
  .flex-containerEurope {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: baseline;
    justify-content: space-between;
    padding-left: 90px;
  }
  
  /*for grouping the smaller images in Europe Sightseeing section and aligning them */
  .left-img {
    display: flex;
    gap: 10px;
    margin-bottom: 10%;
    align-items: start;
    justify-content: start;
    align-self: center;
    padding-top: 20%;
    position: relative;
    left: 150px;
  }
  
  /*for moving the smaller images in Europe Sightseeing section upwards*/
  .moveup {
    margin-top: -300px;
  }
  
  /* adding padding to the nav bar items */
  ul > .card {
    padding: 10px;
  }
  
  ul > li {
    list-style-type: none;
  }
  
  /* removing the underline for the anchor elements and giving white color to the items */
  a, u {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* adding border background color and border radius(rounded edges) to all the buttons*/
  button {
    background-color: rgba(255, 87, 27, 0.932);
    border: rgba(255, 87, 27, 0.932);
    color: rgb(255, 255, 255);
    /*width: 75px;*/
    border-radius: 8px;
  }
  
  /* adding dimensions to the submit button in the first page*/
  .submit-btn {
    width: 100px;
    height: 45px;
  }
  
  /* adding margin*/
  .margin {
    margin: 100px;
  }
  
  /* adding background image to the first page */
  .image1 {
    background-image: url("/images/main_img.avif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }
  
  /* changing font  */
  #largetext {
    font-family: "'Josefin Sans', sans-serif";
    color: rgb(255, 255, 255);
    font-size: 36px;
  }
  
  /* giving white color to the text*/
  .whitetext {
    color: rgb(255, 255, 255);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  
  /* removing background and border to the nav abr elements in page1*/
  .background1 {
    background: none;
    border: none;
    width: 80px;
  }
  
  /* aligning text to the center*/
  .center1 {
    text-align: Center;
  }
  
  /* giving width value*/
  /* giving width value*/
  /* giving dimensions */
  .picdimension {
    width: 200px;
    height: 200px;
  }
  
  /* giving black color*/
  .black {
    color: rgb(0, 0, 0);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  
  /* adding nature image to the background to the Explore nature section */
  .imageNature {
    background-image: url("/images/nature.jpg");
    background-size: 600px;
    width: 550px;
    height: 200px;
    background-repeat: no-repeat;
  }
  
  /* adding padding and color to each of fields in the form element in page1 along with padding*/
  .input_box {
    padding: 15px;
    background-color: whitesmoke;
    border: none;
  }
  
  /* adding city image to the background to the Explore city section */
  .imageCity {
    background-image: url("/images/city1.jpg");
    background-size: 300px;
    width: 550px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 800px;
  }
  
  .textleft {
    text-align: left;
  }
  
  /* giving font*/
  .fontpage1 {
    font-family: "'Ubuntu', sans-serif";
  }
  
  /* giving font*/
  .fontRoboto {
    font-family: "'Roboto', sans-serif";
  }
  
  /* giving font*/
  .fontYoungSerif {
    font-family: "'Young Serif', serif";
  }
  
  /* giving font*/
  .fontRobotosmall {
    font-family: "'Roboto', sans-serif";
    font-size: smaller;
  }
  
  /* giving width value*/
  /* giving font*/
  .fontRedRobotosmall {
    font-family: "'Roboto', sans-serif";
    font-size: smaller;
    color: rgba(255, 87, 27, 0.932);
    font-weight: 800;
  }
  
  /* adding background image*/
  .imageGrey {
    background-image: url("/images/lightgrey_background.webp");
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
  }
  
  /* aligning h1 tag to the center by adjusting max width*/
  #h1center {
    text-align: center;
    max-width: 600px;
    /* Add your desired width restriction */
    margin: 0 auto;
    /* Center the element horizontally */
  }
  
  /* aligning the images in europe sightseeing section*/
  .container {
    position: relative;
    width: 100%;
    height: 200vh;
    /* Set the height as per your requirement */
    border-radius: 50% 50% 0 0;
  }
  
  /* aligning the images in europe sightseeing section*/
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    background-image: url("/images/eiffel.jpg");
    /* Replace with the path to your background image */
    background-size: contain;
    /* You can use other values like 'contain' based on your preference */
    background-repeat: no-repeat;
    opacity: 0.5;
    /* Adjust the opacity as needed */
    z-index: -1;
    /* Move the pseudo-element to the background */
  }
  
  /* giving width*/
  /* giving grey color to the buttons in the client testimonia section  */
  #grey1 {
    background-color: rgb(128, 128, 128);
    border: rgb(0, 0, 0);
    border-radius: 100px;
  }
  
  /* giving grey color to the buttons in the client testimonia section  */
  #grey2 {
    background-color: rgb(128, 128, 128);
    border: rgb(0, 0, 0);
  }
  
  /* adjusting icon size for the social media icons in footer*/
  .iconsize {
    color: rgba(255, 87, 27, 0.932);
    height: 15px;
  }
  
  /* making the background transparent for the buttons in explore nature and cities section*/
  #transparent1 {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
  }
  
  /* giving dimensions for the eiffel towe image*/
  .tower-img {
    border-radius: 50% 50% 0 0;
    width: 350px;
    height: 500px;
  }
  
  /* alignig the images in europe sightseeing section*/
  .overlay_img {
    position: sticky;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -30%);
  }
  
  /* flex box for Trendy packages section*/
  .flex-containerTrendyPackages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: space-between;
    width: 280px;
  }
  
  /* flex box for Trendy packages section*/
  .flex-containerTrendyPackages1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 110px; */
    /*height:500px ;*/
    /* padding : 20px; */
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  
  /* give font color red*/
  .fontRed {
    color: rgba(255, 87, 27, 0.932);
  }
  
  /* decrease the font size*/
  .smallfont {
    font-size: smaller;
  }
  
  .moveButton {
    position: relative;
    bottom: 190px;
    left: 135px;
    border-radius: 50px;
    width: 60px;
  }
  
  .moveLeft1 {
    position: relative;
    right: 140px;
  }
  
  .moveLeft2 {
    position: relative;
    right: 93.334px;
  }
  
  .moveLeft3 {
    position: relative;
    right: 46.667px;
  }
  
  .fixed {
    position: fixed;
  }
  
  .reldistleft {
    position: relative;
  }
  
  .reldistright {
    position: relative;
  }
  
  .iconsize1 {
    color: rgba(255, 87, 27, 0.932);
  }
  
  .moveicon {
    position: relative;
    top: 10px;
  }
  
  .moveicon1 {
    position: relative;
    right: 10px;
  }
  
  .moveRight {
    position: relative;
  }
  
  .sectionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 500px;
  }
  
  .divMargin {
    margin-top: 200px;
  }
  
  .sectionBackground {
    background-color: black;
  }
  
  .globeAnim {
    width: 400px;
    height: 400px;
    margin-top: 10px;
  }
  
  .docAnim {
    max-width: 350px;
    max-height: 350px;
    margin-top: 240px;
  }
  
  .footerDiv {
    margin-top: 230px;
    gap: 240px;
    background-color: #90caf9;
    width: 2000px;
  }
  
  .footerImage {
    width: 30px;
    height: 55px;
  }
  
  .footerCaption {
    font-weight: bold;
  }
  
  .title {
    color: white;
    /* margin-top: 30px; */
  }
  
  /*# sourceMappingURL=main.css.map */
  


.link {
  text-decoration: none;
}

.admin{
  /* text-align: center; */
  margin-top: 50px;
  color: wheat;
  margin-left: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}
